<?xml version="1.0" encoding="utf-8"?>
<odoo>

        <menuitem id ="menu_banas_hr_employee_root"
		              name = "Employee"
			            sequence="0"/>

	      <menuitem id ="menu_banas_hr_employee_master"
                  name = "Employee Details"
                  parent ="menu_banas_hr_employee_root"
                  action ="action_banas_hr_employee"
                  sequence="1"/>

        <!-- <menuitem id ="menu_employee"
                  name = "Employee Details"
                  action ="action_banas_hr_employee"
                  parent ="menu_banas_hr_employee_master"
                  sequence="2"/> -->
        
</odoo>
